<a href="https://colab.research.google.com/github/nahidhasan2010/Data-Science-and-Machine-Learning/blob/main/Module01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variable and Data type

In [9]:
x = 24
name = "Nahid"
y = 2.4
boolean = True

print("value of x is : ",x)
print(type(x))

print("My name is : "+name)
print(type(name))

print("Value of y is : ",y)
print(type(y))

print("value of boolean is : ",boolean)
print(type(boolean))

value of x is :  24
<class 'int'>
My name is : Nahid
<class 'str'>
Value of y is :  2.4
<class 'float'>
value of boolean is :  True
<class 'bool'>

Concetanition

In [16]:
first_name="Nahid"
last_name="Hasan"
print("First name : ",first_name,"\nLast name : ",last_name)

full_name=first_name+" "+last_name
print("Full name: ",full_name)

First name :  Nahid
Last name :  Hasan
Full name:  Nahid Hasan

# List and Tuple

In [24]:
my_list=[10,23,"Nahid Hasan",3.4,True]
print(my_list)
print(type(my_list))
print("Third value of list is :",my_list[2])
print("Printing list elements through loop:")
x=1
for i in my_list:
  print(f"{x} element is:",i)
  x=x+1

[10, 23, 'Nahid Hasan', 3.4, True]
<class 'list'>
Third value of list is : Nahid Hasan
Printing list elements through loop:
1 element is: 10
2 element is: 23
3 element is: Nahid Hasan
4 element is: 3.4
5 element is: True

In [26]:
tup=(10,203,0.4,"Nahid Hasan",True,3.4)
print(tup)
print(type(tup))
print("First value of tuple is :",tup[0])

(10, 203, 0.4, 'Nahid Hasan', True, 3.4)
<class 'tuple'>
First value of tuple is : 10

In [29]:
number= range(5)
print(number)
print(type(range))
for i in number:
  print(i)

range(0, 5)
<class 'type'>
0
1
2
3
4

In [32]:
x=1
for i in range(2,11,2):
  print(f"{x} Even number between (1-10) : {i}")
  x=x+1

1 Even number between (1-10) : 2
2 Even number between (1-10) : 4
3 Even number between (1-10) : 6
4 Even number between (1-10) : 8
5 Even number between (1-10) : 10

In [35]:
my_set={1,2,3,4,5,"Nahid Hasan"}
print(my_set)
print(type(my_set))
#print(my_set[0])

{1, 2, 3, 4, 5, 'Nahid Hasan'}
<class 'set'>

In [37]:
person={
    "Name" : "Nahid Hasan",
    "Age" : 24,
    "Country" : "Bangladesh"
}
print(person)
print(type(person))
print(person["Name"])

{'Name': 'Nahid Hasan', 'Age': 24, 'Country': 'Bangladesh'}
<class 'dict'>
Nahid Hasan

# Dynamic typing in python

In [42]:
var = 10
print("My type is",type(var))
var="Nahid Hasan"
print("My type is",type(var))

My type is <class 'int'>
My type is <class 'str'>

# If Else in python

In [45]:
age = int(input("Enter your age: "))
if age >= 18:
  print("You are eligable for vote!")
else:
  print("You are not eligible for vote!")

Enter your age: 17
You are not eligible for vote!

# For Loop

In [48]:
print("For loop in list:")
number=[10,203,4,40,40]
for i in number:
  print(i)
print("For loop using range:")
for i in range(5):
  print(i)
print("For loop in string:")
for char in "Nahid Hasan":
  print(char)

For loop in list:
10
203
4
40
40
For loop using range:
0
1
2
3
4
For loop in string:
N
a
h
i
d

H
a
s
a
n

# While loop

In [52]:
count = 1
while count <= 5:
  print("Nahid")
  count = count + 1

Nahid
Nahid
Nahid
Nahid
Nahid

# Break and Continue

In [56]:
for i in range(1,11):
  if i == 11:
    break
  elif i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9
10

# String

In [58]:
my_string = "Nahid Hasan Emon"
print("My name is :",my_string)
print("My first name is :",my_string[0:6])

My name is : Nahid Hasan Emon
My first name is : Nahid

In [59]:
print("Upper case :",my_string.upper())
print("Lower case :",my_string.lower())

Upper case : NAHID HASAN EMON
Lower case : nahid hasan emon

In [61]:
fruit= "Mango,Apple,Banana,Orange"
split_list= fruit.split(",")
print(split_list)

['Mango', 'Apple', 'Banana', 'Orange']

In [63]:
my_string="Nahid Hasan Emon"
print("Orgial String :",my_string)
my_string=my_string.replace("Emon","Shuvo")
print("New string :",my_string)

Orgial String : Nahid Hasan Emon
New string : Nahid Hasan Shuvo

# Assignment of Ostad

In [67]:
# Sum of all odd number 0 to 100
sum = 0
for i in range(101):
  if i % 2 != 0:
    sum = sum + i
print("Sum of all odd number (0-100):",sum)

Sum of all odd number (0-100): 2500

In [69]:
mark= int(input("Enter your mark: "))
if mark >= 90 and mark <= 100:
  print("A")
elif mark >= 80 and mark <= 89:
  print("B")
elif mark >= 70 and mark <= 79:
  print("C")
elif mark >= 60 and mark <= 69:
  print("D")
elif mark >= 50 and mark <=59:
  print("E")
elif mark >= 40 and mark <= 49:
  print("E-")
else:
  print("Failed")

Enter your mark: 39
Failed