<a href="https://colab.research.google.com/github/nahidhasan2010/Data-Science-and-Machine-Learning/blob/main/Module02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List

In [3]:
grocery = ["Applle","Salt","Paper","Dates","Carrots"]
print("List of grocery:",grocery)

print("First item:",grocery[0])
print("Last item:",grocery[-1])

grocery[2]="Cookies"
print("Updated grocery :",grocery)

List of grocery: ['Applle', 'Salt', 'Paper', 'Dates', 'Carrots']
First item: Applle
Last item: Carrots
Updated grocery : ['Applle', 'Salt', 'Cookies', 'Dates', 'Carrots']

# List Method

In [4]:
fruit = ["Apple","Banana","Dates","Mango","Cherry","Cocunut"]
fruit.append("Jackfruit")
print("Updated list:",fruit)

Updated list: ['Apple', 'Banana', 'Dates', 'Mango', 'Cherry', 'Cocunut', 'Jackfruit']

In [5]:
fruit.insert(2,"Guava")
print("Updated list :",fruit)

Updated list : ['Apple', 'Banana', 'Guava', 'Dates', 'Mango', 'Cherry', 'Cocunut', 'Jackfruit']

In [6]:
fruit.remove("Guava")
print("Updated list :",fruit)

Updated list : ['Apple', 'Banana', 'Dates', 'Mango', 'Cherry', 'Cocunut', 'Jackfruit']

In [7]:
fruit.pop()
print("Updated list :",fruit)

Updated list : ['Apple', 'Banana', 'Dates', 'Mango', 'Cherry', 'Cocunut']

In [8]:
fruit.pop(0)
print("Updated list :",fruit)

Updated list : ['Banana', 'Dates', 'Mango', 'Cherry', 'Cocunut']

In [10]:
fruit.sort()
print(fruit)

['Banana', 'Cherry', 'Cocunut', 'Dates', 'Mango']

In [11]:
fruit.reverse()
print(fruit)

['Mango', 'Dates', 'Cocunut', 'Cherry', 'Banana']

In [12]:
x=fruit.count("Mango")
print(x)

1

# Dictionary

In [15]:
info={
    "Name": "Nahid Hasan",
    "Age": 24,
    "Email": "nahidshuvo2010@gmail.com"
}

print(f"Name : {info['Name']}")
print(f"Age : {info['Age']}")

Name : Nahid Hasan
Age : 24

In [16]:
info["Country"]="Bangladesh"
print(f"Updated dictionary : {info}")

Updated dictionary : {'Name': 'Nahid Hasan', 'Age': 24, 'Email': 'nahidshuvo2010@gmail.com', 'Country': 'Bangladesh'}

In [17]:
del info["Country"]
print(f"Updated dictionary : {info}")

Updated dictionary : {'Name': 'Nahid Hasan', 'Age': 24, 'Email': 'nahidshuvo2010@gmail.com'}

In [18]:
key=info.keys()
value=info.values()
pair=info.items()

print(key)
print(value)
print(pair)

dict_keys(['Name', 'Age', 'Email'])
dict_values(['Nahid Hasan', 24, 'nahidshuvo2010@gmail.com'])
dict_items([('Name', 'Nahid Hasan'), ('Age', 24), ('Email', 'nahidshuvo2010@gmail.com')])

# Function

In [19]:
def welcome():
  print("Hey, Welcome!")

welcome()

Hey, Welcome!

In [21]:
def sum(x,y):
  print(f"Sum of {x} and {y} : {x+y}")

sum(10,12)
sum(12,12)

Sum of 10 and 12 : 22
Sum of 12 and 12 : 24

In [27]:
def info(name,age,country="Bangladesh"):
  print(f"Name : {name}")
  print(f"Age : {age}")
  print(f"Country : {country}\n")

info("Nahid Hasan", 24 , "Bangladesh")

info(name="Nahid Hasam",country="Bangladesh",age=24)

info(name="Nahid Hasan",age=24)

Name : Nahid Hasan
Age : 24
Country : Bangladesh

Name : Nahid Hasam
Age : 24
Country : Bangladesh

Name : Nahid Hasan
Age : 24
Country : Bangladesh

In [28]:
def discounted_price(price,discount=0.1):
  final_price=price-price*discount
  return final_price

price=200
x=discounted_price(price)
print("Orginal price :",price)
print("Discounted price :",x)

Orginal price : 200
Discounted price : 180.0

# Set

In [29]:
A= {1,2,3,4}
B={3,4,5,6}

In [31]:
print("Intersection :",A.intersection(B))
print("Union :",A.union(B))
print("Difference :",A.difference(B))

Intersection : {3, 4}
Union : {1, 2, 3, 4, 5, 6}
Difference : {1, 2}

# Tuple

In [33]:
tup1=(1,2,3,4)
tup2=(5,6,7,"Nahid Hasan")

print(tup1+tup2)

(1, 2, 3, 4, 5, 6, 7, 'Nahid Hasan')

In [34]:
a,b,c,d=tup1
print(a,b,c,d)

1 2 3 4

In [35]:
print(tup1[0])

1

In [36]:
def student_details(id):
  student=[
      {
          "id":1,
          "name":"Nahid Hasan",
          "age":24
      },
      {
          "id":2,
          "name": "Jahid Hasan",
          "age":25
      },
      {
          "id":3,
          "name": "Shahid Hasan",
          "age":26
      }
  ]
  for x in student:
    if x["id"]==id:
      return x["name"],x["age"]

name,age=student_details(2)
print(f"Student name : {name}")
print(f"Student age : {age}")

Student name : Jahid Hasan
Student age : 25